/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 240px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.top-row {
    display: flex;
}

.clear {
    width: 40px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display {
    background-color: #222;
    color: #fff;
    font-size: 2em;
    text-align: right;
    padding: 25px;
    box-sizing: border-box;
    flex: 1;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 60px);
}

button {
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: #f0f0f0;
}

button:active {
    background-color: #ddd;
}
